// Place all the styles related to the web/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sec {
  padding: 40px;
  h4 {
    text-align: center;
  }

  background: #fcfcfc;
}

.btn {
  margin-top: 20px;
}

.sec-dark {
  background: #f2f2f2;
}